.product-properties {
	text-align: left;
	width: 100%;
	border: 1px solid @border-color;
	position: relative;
	padding: 15px;
	padding-bottom: 0;
	display: none;
	@media (min-width: @screen-xs) {
		width: 230px !important;
		float: left;
		border-left: none;
	}
	@media (max-width: @screen-xs) {
		border-top: none;
	}
	@media (min-width: @screen-sm) {
		width: 240px !important;
	}
	@media (min-width: @screen-md) {
		width: 230px !important;
	}
	@media (min-width: @screen-lg) {
		width: 290px !important;
	}
	@media (min-width: @screen-xlg) {
		width: 395px !important;
	}
	.dropcontainer {
		width: 110px;
		top: 12px;
		a {
			color: @gray;
			font-weight: bold;
			.font(1.2rem;
			1.2rem;
			1.2rem;
			1.4rem;
			1.6rem;
			1);
			&:active, &:hover:active {
				.font(1.2rem;
				1.2rem;
				1.2rem;
				1.4rem;
				1.6rem;
				1);
			}
		}
		@media(min-width: @screen-md) {
			width: 125px;
		}
		@media(min-width: @screen-lg) {
			top: 15px;
			width: 140px;
		}
	}
	span {
		display: inline-block;
		vertical-align: top;
		margin-top: 15px;
		transition: .1s;
		
		@media(min-width: @screen-xs){
			margin-top: 0;
		}
	}
	.arrow-right {
		&:hover {
			border-left-color: @red;
		}
	}
	.arrow-left,
	.arrow-right {
		position: absolute;
		@media (min-width: @screen-xs) {
			display: none;
		}
	}
	.arrow-bottom {
		display: none;
		@media (min-width: @screen-xs) {
			display: block;
			margin: 0 auto;
		}
		@media (min-width: @screen-xlg) {
			display: none;
		}
	}
	&__sizes {
		position: relative;
		margin-bottom: 15px;
		margin-top: 17px;
		.font(1.2rem;
		1.2rem;
		1.2rem;
		1.4rem;
		1.6rem;
		1);
		margin-right: -5px;
		margin-left: -5px;
		@media (min-width: @screen-xs) {
			margin-top: 10px;
			margin-bottom: 7px;
		}
		@media (min-width: @screen-sm) {
			margin-bottom: 6px;
		}
		@media (min-width: @screen-md) {
			margin-bottom: 6px;
		}
		@media (min-width: @screen-lg) {
			margin-top: 25px;
			margin-bottom: 11px;
		}
		@media (min-width: @screen-xlg) {
			margin-top: 25px;
			margin-bottom: 23px;
		}
	}
	&__select-size,
	.trigger,
	.activetrigger {
		margin-right: 3px;
		text-decoration: none;
		display: inline-block;
		font-weight: bold;
		color: @gray;
		appearance: none;
		background: none;
		border: none;
		transition: .1s ease;
		//      margin-right: 3px;
		border-bottom: 2px dashed @gray;
		background: none !important;
		&:active, &:hover:active {
			color: @blue;
			border-bottom: 2px dashed @blue;
			background: none !important;
		}
		@media (min-width: @screen-md) {
			&:hover {
				color: @gray;
				border-bottom: 2px dashed #fff;
				background: none !important;
			}
		}
	}
	&__sizes-wrapper {
		position: relative;
		width: 210px;
		height: 45px;
		overflow: hidden;
		margin: 0 auto;
		margin-bottom: 10px;
		@media (min-width: @screen-xs) {
			width: 200px;
			overflow-x: visible;
			overflow-y: hidden;
			height: 100px;
			margin: 0;
			margin-bottom: 2px;
		}
		@media (min-width: @screen-sm) {
			width: 210px;
		}
		@media (min-width: @screen-lg) {
			width: 260px;
			margin-bottom: 3px;
		}
		@media (min-width: @screen-xlg) {
			width: 360px;
			height: 155px;
			margin-bottom: 47px;
		}
	}
	&__sizes-list {
		position: relative;
		display: inline-block;
		text-align: left;
		top: 0;
		left: 0;
		transition: all .5s;
		@media (min-width: @screen-xs) {
			width: 100%;
			height: auto;
			left: 0!important;
		}
		@media (max-width: @screen-xs) {
			width: 2000px;
			top: 0!important;
		}
		li {
			display: block;
			float: left;
			margin-right: 10px;
			margin-bottom: 10px;
			&:last-of-type {
				margin-right: 0;
			}
			// &:first-child {
			// 	margin-left: 0;
			// }
			@media (min-width: @screen-xs) {
				margin-right: 8px;
				margin-bottom: 8px;
				&:nth-child(4n+4) {
					margin-right: 0;
				}
			}
			@media (min-width: @screen-sm) and (max-width: @screen-md) {
				margin-right: 11.3px;
				margin-bottom: 7px;
				&:nth-child(4n+4) {
					margin-right: 0;
				}
			}
			@media (min-width: @screen-lg) {
				margin-right: 9.6px;
				margin-bottom: 10px;
				&:nth-child(4n+4) {
					margin-right: 9.6px;
				}
				&:nth-child(5n+5) {
					margin-right: 0;
				}
			}
		}
		input[type="checkbox"] {
			display: none;
		}
		input[type="checkbox"]:checked + label {
			color: @red;
			background: @red;
			border-color: @red;
			&:after {
				content: '';
				display: block;
				width: 18px;
				height: 16px;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				background: url("../img/cart.svg");
			}
		}
		label {
			cursor: pointer;
			position: relative;
			width: 44px;
			padding: 14px 0;
			background: #fff;
			border-radius: 25px;
			border: 1px solid @border-color;
			display: block;
			text-align: center;
			color: @gray;
			text-decoration: none;
			transition: .1s;
			.heading(1.4rem;
			1.4rem;
			1.4rem;
			1.4rem;
			1.4rem;
			1);
			@media (min-width: @screen-md) {
				&:hover {
					border-color: @gray;
				}
			}
			@media(min-width: @screen-xlg) {
				width: 60px;
			}
		}
	}
	&__info {
		padding-bottom: 10px;
		@media (min-width: @screen-xs) {
			margin-top: 15px;
		}
		@media (min-width: @screen-sm) and (max-width: @screen-md) {
			padding-bottom: 15px;
		}
		@media (min-width: @screen-md) {
			padding-bottom: 6px;
		}
		@media (min-width: @screen-lg) {
			padding-bottom: 16px;
		}
		@media (min-width: @screen-xlg) {
			padding-bottom: 33px;
		}
		li {
			font-weight: 300;
			.font(1.2rem;
			1.2rem;
			1.2rem;
			1.4rem;
			1.4rem;
			1);
			margin-bottom: 15px;
			line-height: 1 !important;
			&:last-of-type {
				margin-bottom: 0;
			}
		@media (min-width: @screen-xs) and (max-width: 767px) {
			margin-bottom: 13px;
			&:last-of-type {
				margin-bottom: 1px;
			}
		}
			span {
				display: inline;
				font-weight: bold;
			}
		}
	}
	&__buttons {
		.clearfix;
		margin-left: -15px;
		margin-right: -15px;
		li {
			width: 50%;
			float: left;
		}
	}
	&__wish-btn {
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-align: center;
		padding: 10px 15px;
		.heading(1.4rem;
		1.4rem;
		1.4rem;
		1.4rem;
		1.6rem;
		1);
		text-transform: uppercase;
		text-decoration: none;
		color: @gray;
		border: 1px solid @border-color;
		border-right: none;
		border-bottom: none;
		background: @light-bg;
		transition: .1s;
		&:active, &:hover:active {
			color: @blue;
			background: #fff;
			i {
		transition: .1s;
				background: url("../img/star--blue.svg");
			}
		}
		@media (min-width: @screen-md) {
			&:hover {
				color: #000;
				i {
					background: url("../img/star--black.svg");
				}
			}
		}
		i {
			display: inline-block;
			width: 16px;
			height: 16px;
			margin-right: 5px;
			vertical-align: top;
			background: url("../img/star--gray.svg");
			background-size: cover;
		}
		@media (min-width: @screen-xlg) {
			padding: 17px;
			height: 50px;
		}
	}
	&__open-btn {
		height: 40px;
		display: block;
		width: 100%;
		text-align: left;
		padding: 13px 0;
		background: @red;
		color: #fff;
		padding-left: 25px;
		.heading(1.4rem;
		1.4rem;
		1.4rem;
		1.4rem;
		1.6rem;
		1);
		text-transform: uppercase;
		text-decoration: none;
		border: 1px solid @border-color;
		border-right: none;
		border-bottom: none;
		transition: .1s;
		&:active, &:hover:active {
			color: @red;
			background: #fff;
		}
		@media (min-width: @screen-xs) {
			padding: 13px 0;
			padding-left: 10.5px;
		}
		@media (min-width: @screen-sm) {
			padding: 13px 0;
			padding-left: 10.5px;
		}
		@media (min-width: @screen-md) {
			padding: 13px 0;
			padding-left: 10.5px;
		}
		@media (min-width: @screen-lg) {
			padding: 13px 0;
			padding-left: 25px;
		}
		@media (min-width: @screen-xlg) {
			padding: 17px 0;
   			padding-left: 47px;
			height: 50px;
		}
		@media (min-width: @screen-md) {
			&:hover {
				background: @light-bg;
				color: @red;
				i {
					background: url("../img/star--black.svg");
				}
			}
		}
	}
	.model-type {
		display: none;
		@media(min-width: @screen-lg) {
			display: block;
		}
	}
	.product-number {
		position: absolute;
		top: 13px;
		left: 10px;
		margin-top: 0;
		font-weight: bold;
		.font(1rem;
		1rem;
		1rem;
		1.2rem;
		1.4rem;
		1);
		@media (min-width: @screen-xlg) {
			top: 17px;
		}
	}
}

.rotate-arrow{
	transform: rotate(180deg);
}

.product-properties .arrow-right{
  cursor: pointer;
  width: 0;
  height: 0; 
  right: 10px;
  top: 63px; 
  border-top: 5px solid transparent;
  border-left: 10px solid @gray;
  border-bottom: 5px solid transparent;
  transition: .1s;
  display: none;
  &:hover{
    border-left-color: @blue;
  }
  &.disabled{
  	border-left-color: #f6f6f6;
  }
 	@media (max-width: 480px) {
		display: block;
	}
}

.product-properties .arrow-left{
  cursor: pointer;
  width: 0;
  height: 0;
  left: 10px;
  top: 63px;
  border-top: 5px solid transparent;
  border-right: 10px solid @gray;
  border-bottom: 5px solid transparent;
  transition: .1s;
  display: none;
  &:hover{
    border-right-color: @red;
  }
  &.disabled{
  	border-right-color: #f6f6f6;
  }
  	@media (max-width: 480px) {
		display: block;
	}
}