.wishlist-page {
	.tool-bar {
		&__actions {
			.tool-bar__wishlist-btn {
				&:active, &:hover:active {
					i {
						background: url("../img/star.svg");
					}
				}
				i {
					background: url("../img/star--red.svg");
					background-size: cover;
				}
			}
		}
	}
.product{
	&__row{
		
		@media (min-width: @screen-xs){
			margin-bottom: 9px;
		}
		@media (min-width: @screen-md){
			margin-bottom: 9px;
		}
		@media (min-width: @screen-lg){
			margin-bottom: 11px;
		}
		@media (min-width: @screen-xlg){
			margin-bottom: 13px;
		}
	}
}

}

.wishlist {
	position: relative;
	padding-top: 99px;
	
	@media (max-width: @screen-xs){
		max-width: 320px;
		margin: 0 auto;
	}
	@media(min-width: @screen-md) {
		padding-top: 105px;
	}
	@media(min-width: @screen-lg) {
		padding-top: 83px;
	}
	@media (max-width: 767px) {
		max-width: 390px;
		margin: 0 auto;
	}
	@media (max-width: @screen-xs) {
		max-width: 320px;
		margin: 0 auto;
	}
	&__products-row {
		margin: 0 auto;
		.clearfix;
	}
	.catalog-filter {
		@media(min-width: @screen-md) {
			margin-top: -13px;
		}
		@media(min-width: @screen-xlg) {
			margin-top: -19px;
		}
	}
	&__main-content-wrapper {
		@media(min-width: @screen-sm) {
			width: 725px;
			margin: 0 auto;
		}
		@media(min-width: @screen-md) {
			width: 73%;
			float: left;
		}
		@media(min-width: @screen-lg) {
			width: 70.83333333%;
		}
		@media(min-width: @screen-xlg) {
			width: 1200px;
		}
	}
	&__return-link {
		display: none;
		@media(min-width: @screen-sm) {
			display: inline-block;
			.font(1rem;
			1rem;
			1rem;
			1.2rem;
			1.4rem;
			1);
			font-weight: bold;
			text-decoration: none;
			color: @gray;
			text-transform: uppercase;
    padding-left: 15px;
		}
		@media(min-width: @screen-md) {
			padding-left: 15px;
		}
	}
	&__container {
		.container-fluid;
		padding-top: 30px;
		@media(min-width: @screen-sm) {
			padding-top: 15px;
			padding-bottom: 0;
		}
		@media(min-width: @screen-md) {
			padding-top: 45px;
			width: 930px;
			margin: 0 auto;
		}
		@media(min-width: @screen-lg) {
			width: 1150px;
		}
		@media(min-width: @screen-xlg) {
			padding-top: 65px;
			width: 1585px;
		}
	}
	&__heading {
		.heading(1.8rem;
		3.6rem;
		3.6rem;
		3.6rem;
		4.8rem;
		1.4);
		color: #000;
		line-height: 1;
		padding-bottom: 25px;
		text-transform: uppercase;
		@media(min-width: @screen-sm) {
			padding-bottom: 20px;
			padding-left: 15px;
		}
		@media(min-width: @screen-lg) {
			padding-bottom: 11px;
		}
		@media(min-width: @screen-xlg) {
			margin-top: 0;
		}
	}
	&__toggler-group {
		text-align: center;
		padding: 0 20px;
		margin-bottom: 30px;
		@media(min-width: @screen-xs) {
			padding-right: 40px;
		}
		@media(min-width: @screen-lg) {
			margin-bottom: 15px;
		}
		span {
			color: @gray;
			cursor: pointer;
			.heading(1.4rem;
			1.4rem;
			1.4rem;
			1.4rem;
			1.6rem;
			1);
			text-transform: uppercase;
			@media(min-width: @screen-md) {
				&:hover {
					color: #000;
				}
			}
			&:active, &:hover:active {
				color: @blue;
			}
		}
		@media(min-width: @screen-sm) {
			width:690px;
			padding: 0 38px;
			padding-right: 40px;
			margin: 0 auto;
			margin-bottom: 30px;
		}
		@media(min-width: @screen-md) {
			width:870px;
			padding: 0 38px;
			padding-right: 40px;
			margin: 0 auto;
			margin-bottom: 30px;
		}
	}
	&__all {
		margin-right: 30px;
	}
}